{{template "base.html" .}}
<div class="card bottom-wrapper">
	<h4>
		FAQ:
		<div class="question">
			<p class="question">Why does this site look kinda ugly?</p>
			<div class="answer">
				<p class="answer">It looks kinda bad because I made it myself as a hobby. I'm not that great at UI because I don't like it very much. I think this looks good. If you are nice to me and offer kindly, I will happily take your suggestions for improvements. I reserve the right to reject them.</p>
			</div>
		</div>
		<div class="question">
			<p class="question">Is this part also still in progress?</p>
			<div class="answer">
				<p class="answer">Yes lol this entire site is. welcome.</p>
			</div>
		</div>
		CONTACT:
		i mean its in the footer just look there but whatever heres my accounts

	</h4>
</div>
{{template "footer.html" .}}