{{template "base.html" .}}
<div class="card bottom-wrapper">
	<h4>
		FAQ: </h4>
	<table>
		<tr class="row border-top">
			<td class="col-sm-4 question">
				Why does this site look kinda ugly?
			</td>
			<td class="col-sm answer"></td>
		</tr>
		<tr class="row border-bottom">
			<td class="col-sm-4 question"></td>
			<td class="col-sm answer">
				&nbsp It looks kinda bad because I made it myself as a hobby. I think this looks good enough that I'm happy with it. If you are nice to me and offer kindly, I will happily take your suggestions for improvements. I reserve the right to reject them.
			</td>
		</tr>
		<tr class="row border-top">
			<td class="col-sm-4 question">
				Is this part also still in progress?
			</td>
			<td class="col-sm answer"></td>
		</tr>
		<tr class="row border-bottom">
			<td class="col-sm-4 question"></td>
			<td class="col-sm answer">
				&nbsp Yes lol this entire site is. welcome.
			</td>
		</tr>
		<tr class="row border-top">
			<td class="col-sm-4 question">
				What kind of games do you like to play?
			</td>
			<td class="col-sm answer"></td>
		</tr>
		<tr class="row border-bottom">
			<td class="col-sm-4 question"></td>
			<td class="col-sm answer">
				&nbsp All kinds, but I tend to avoid games that are especially scary or bleak. I'm appreciating the art, but I also want to have a good time.
			</td>
		</tr>
		<tr class="row border-top">
			<td class="col-sm-4 question">
				Are you a tough critic?
			</td>
			<td class="col-sm answer"></td>
		</tr>
		<tr class="row border-bottom">
			<td class="col-sm-4 question"></td>
			<td class="col-sm answer">
				&nbsp I'm probably on the easier side, but it depends. Mostly I like to celebrate what is good about each game without getting too caught up in the negative aspects of it. That said, it is important to me to be fair and honest, so if something sticks out to me, I'll bring it up.
			</td>
		</tr>
	</table>
	CONTACT:
	dont talk to me lol im not ready yet.
</div>
{{template "footer.html" .}}