{{template "base.html" .}}
<div class="card bottom-wrapper">
<p>The full review consists of three parts. First is the Overall Review. Second is the Art Review. Third is the Game Review. These ingredients were chosen to create the perfect little girls. But Professor Utonium accidentally added a third ingredient to the concoction: chemical x. Basically, I created a rubric that I use to talk about the game. So these posts are more of a hybrid book report/journaling exercise. Or you could call it efficient and methodical data collection. Your choice.</p>
<div class="spacer"></div>
<h5> Overall</h5>
<p>what are my overall impressions of the game? did I like it? what were my predictions? were they right? would I recommend this game?</p>
<div class="spacer"></div>
<h5>Art</h5>
<p>This part is split into 4 categories:</p>
<h5>&nbsp graphics</h5>
<p>&nbsp what does it look like? what is the visual style/tone/aesthetic? do the visuals serve the overall themes?</p>
<h5>&nbsp sound</h5>
<p> &nbsp does the audio add to the immersion? are there any recurring musical motifs? genre of music/tone? sound effects? voice acting?</p>
<h5>&nbsp story</h5>
<p> &nbsp what is the story? who are the characters? what genre of story is it? what are the main plot points? do they feel natural to the game? is there a lot of exposition or is the exposition incorporated into the game?</p>
<h5>&nbsp themes</h5>
<p>&nbsp what is the message of the game? what is the game trying to convey? is it successful? what are the major themes? what tropes are used? are they used effectively?</p>
<div class="spacer"></div>
<h5>Game</h5>
<p>This part is split into 3 categories:</p>
<h5>&nbsp mechanics</h5>
<p> &nbsp how does the game work? is it fun to play? is it interesting to play? how do you progress/win? </p>
<h5>&nbsp difficulty</h5>
<p> &nbsp what is the pacing of the game? what is the difficulty curve? is it too hard, too easy? is the tutorial sufficient? does the difficulty match the context of the game?</p>
<h5>&nbsp experience</h5>
<p> &nbsp smooth playing experience? any glitches or bugs that detracted from the game? inconveneint areas? here is the place that the criticism usually goes</p>
<div class="spacer2"></div>

<h5>Hidden Object Game format</h5>
<p>This format is much simpler. It's a skeleton of the full review but I think it still hits the main points.</p>
<h5>Overall</h5>
<p>&nbsp did you like it </p>
<p>&nbsp was it good </p>
<p>&nbsp would you recommend it to someone</p>
<h5>Art</h5>
<p>&nbsp 1-10 quality of the graphics?</p>
<p>&nbsp 1-10 quality of sound?</p>
<p>&nbsp 1-10 quality of voice acting?</p>
<p>&nbsp yes/no is the plot coherent?</p>
<p>&nbsp 1-10 quality of plot?</p>
<h5>Game</h5>
<p>&nbsp 1-10 quality of the puzzles </p>
<p>&nbsp 1-10 how many times I said "OH COME ON" </p>
<p>&nbsp 1-10 quality of the bugginess</p>
<p>&nbsp 1-10 how many times i said "okay thats p cool"</p>
<h5><a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/spreadsheets/d/1JaNsCAddLS8g5txzS9QX_5BB1eW-7itvtEnCfLwfarM/edit?usp=sharing">RUBRIC</a> if you're curious</h5>
</div>
<div class="spacer2"></div>
{{template "footer.html" .}}