@font-face {
  font-family: Geometria;
  src: url(geometria_font/Geometria.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Geometria;
  src: url(geometria_font/Geometria-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Geometria;
  src: url(geometria_font/Geometria-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Geometria;
  src: url(geometria_font/geometria-light.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Geometria;
  src: url(geometria_font/geometria-medium.ttf);
  font-weight: 500;
}
