{{set . "title" "Posts"}}
{{set . "pageTitle" "posts"}}
{{template "base.html" .}}
<div class="card-group bottom-wrapper">
	<table class="table">
		{{range .p }}
			<tr class="row">
				<td class="card blog-list-item">
					<div class="blog-list-title">{{.Title }}</div>
					<p class="blog-list-date">Me | {{datetime .PublishDate}} </p>
					<a href='{{ url "Post.Show" .Slug}}' class="blog-list-read-more">Read More &rarr;</a>
				</td>
			</tr>
		{{end}}
	</table>
</div>
{{template "footer.html" .}}

