.blog-post-area .single-post h3 a {
  font-family: Geometria;
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
  color: #0b162a;
}
.blog-post-area .single-post p {
  color: #0b162a;
  font-family: Geometria;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  padding-top: 14px;
  position: relative;
  text-align: justify;
}
.blog-post-area .single-post p::before {
  background: #fff5f5 none repeat scroll 0 0;
  content: "";
  height: 1px;
  position: absolute;
  top: 0;
  width: 100%;
}
.blog-post-area .single-post h4 {
  margin-bottom: 12px;
  padding-top: 10px;
  position: relative;
}
.blog-post-area .single-post h4::before {
  background: #fff5f5 none repeat scroll 0 0;
  content: "";
  height: 1px;
  position: absolute;
  top: 0;
  width: 100%;
}
.blog-post-area .single-post h3 {
  margin: 25px 0 15px;
}
.blog-post-area .blog-post-area-style {
  margin: 0 20px 0 40px;
}
.single-blog-area {
  font-size: 18px;
  min-height: 77vh;
}
.single-blog-area .border-top {
  border-top: 1px solid #0b162a;
}
.single-blog-area h2 {
  color: #0b162a;
  font-family: Geometria;
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-top: 4vh;
  z-index: 10;
}
@media (max-width:768px) {
  font-size: 30px;
  position: relative;
}
.single-blog-area p {
  font-family: Geometria;
  font-size: 18px;
  font-weight: 500;
  line-height: 35px;
  position: relative;
  text-align: justify;
  margin-bottom: 5px;
}
.single-blog-area h3 {
  color: #0b162a;
  font-family: Geometria;
  font-size: 38px;
  font-style: italic;
  font-weight: 500;
  line-height: 65px;
  margin-bottom: 25px;
  word-spacing: 15px;
}
.single-blog-area h3 i.fa-quote-left {
  float: left;
  font-size: 55px;
  font-style: italic;
  margin-right: 20px;
  margin-top: 10px;
  color: #0b162a;
}
.single-blog-area h3 i.fa-quote-right {
  display: inline-block;
  font-size: 55px;
  font-style: italic;
  margin-left: 20px;
  color: #0b162a;
}
.single-blog-area h5 {
  font-size: 24px;
  padding: 15px;
  margin: 0 -15px;
}
.single-blog-area .blog-area-part p {
  margin-top: 30px;
}
.single-blog-area .image-one {
  padding-right: 20px;
  width: 100%;
  margin-bottom: 20px;
}
.single-blog-area .image-two {
  width: 100%;
  padding-left: 20px;
  margin-bottom: 20px;
}
.single-blog-area img {
  width: 100%;
}
.page-title {
  margin-left: 50px;
}
.single-blog-area .ads-area {
  border-top: 1px solid #7f5a83;
  margin-top: 30px;
  padding: 50px 0;
  position: relative;
}
.single-blog-area .ads-area img {
  width: 100%;
  height: 90px;
  padding: 0 60px;
}
.single-blog-area .ads-area p {
  color: #fff5f5;
  font-family: Geometria;
  font-size: 33px;
  font-weight: 500;
  line-height: 150px;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 100%;
}
section.blog-post-area {
  margin-top: 50px;
}
section.blog-post-area .big-image {
  float: left;
  width: 50%;
  padding-right: 35px;
}
section.blog-post-area .big-text {
  float: right;
  width: 50%;
  padding-right: 20px;
}
section.blog-post-area img {
  width: 100%;
}
section.blog-post-area .big-text h3 {
  margin: 10px 0 0;
}
section.blog-post-area .big-text h3 a {
  font-family: Geometria;
  font-weight: 700;
  font-size: 40px;
  color: #061e37;
  text-decoration: none;
}
section.blog-post-area .big-text p {
  color: #061e37;
  font-family: Geometria;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 18px;
  text-align: justify;
  text-decoration: none;
}
section.blog-post-area .big-text h4 {
  margin-top: 25px;
  padding-top: 30px;
  position: relative;
}
section.blog-post-area .big-text h4::before {
  background: #e6e6e6 none repeat scroll 0 0;
  content: "";
  height: 1px;
  position: absolute;
  top: 0;
  width: 100%;
}
section.blog-post-area .single-post {
  padding-right: 20px;
  margin: 100px 0px 0px;
}
section.blog-post-area h4 span {
  font-family: Geometria;
  font-weight: 400;
  font-size: 15px;
  color: #061e37;
  text-decoration: none;
}
section.blog-post-area .big-text h4 span.author {
  float: right;
}
section.blog-post-area h4 span.author-name {
  font-weight: 500;
}
.spacer {
  height: 10px;
}
.spacer2 {
  height: 30px;
}
.table td {
  border: none;
}
