body {
  background-color: #fff5f5;
  color: #0b162a;
}
.wrapper header.header {
  background: #0b162a;
}
.wrapper header.header .logo {
  background: #0b162a;
  border: none;
}
.wrapper header.header .logo h2 {
  margin: 0 0 0 25px;
  padding: 0;
}
.wrapper header.header .logo h2 a {
  color: #f49f0a;
  background: #0b162a;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
  padding: 22px 0px;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 30px;
}
.wrapper header.header .menu {
  background: #0b162a;
}
.wrapper header.header .menu ul {
  margin-bottom: 0;
}
.wrapper header.header .menu ul li {
  display: inline-flex;
  list-style: outside none none;
  border: none;
  background: #0b162a;
}
.wrapper header.header .menu ul li a {
  color: #f49f0a;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding: 26px 25px;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width:1300px) {
  font-size: 18px;
}
@media (max-width:1170px) {
  font-size: 18px;
  padding: 18px;
}
.wrapper header.header .menu ul li a:hover {
  background: #f49f0a;
  color: #0b162a;
}
.wrapper header.header .menu li.active a {
  background: #f49f0a;
  color: #0b162a;
}
@media (max-width:768px) {
  display: none;
}
.wrapper section.bg-text-area .bg-text {
  background-color: #fff5f5;
  background-image: url(img/bg-images.jpg);
  background-size: 100% 100%;
  padding: 205px 280px;
  color: #0b162a;
}
.wrapper section.bg-text-area .bg-text h3 {
  font-family: Geometria;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.wrapper section.bg-text-area .bg-text p {
  font-family: Geometria;
  font-size: 30px;
  font-weight: 500;
  line-height: 33px;
  margin: 32px 0 0;
  text-align: center;
}
.wrapper footer.footer {
  clear: both;
}
.footer-bg {
  background-color: #7f5a83;
  min-height: 10vh;
  overflow: hidden;
}
.footer-menu {
  margin: 0;
}
.footer-menu ul {
  margin: 0;
  padding: 0;
}
.footer-menu ul li {
  display: inline;
  list-style: outside none none;
  margin: 0;
  padding: 20px 0px;
}
.footer-menu ul li a {
  color: #fff5f5;
  background: #7f5a83;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 600;
  padding: 25px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}
@media (max-width:1300px) {
  font-size: 24px;
}
@media (max-width:1170px) {
  font-size: 18px;
  padding: 24px;
}
.footer-icon p {
  color: #fff5f5;
  margin: 0;
}
.footer-icon p i {
  line-height: 10vh;
  color: #fff5f5;
  font-size: 18px;
  margin-right: 30px;
  padding: 10px;
}
.top-wrapper {
  background-image: url(img/bin-color.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 70vh;
  border: none;
  margin-top: -18vh;
  height: 80vw;
}
.page-title-bg {
  background: #fff5f5;
}
.bottom-wrapper {
  color: #0b162a;
  background: #fff5f5;
  border: none;
}
.subtitle-wrapper {
  color: #0b162a;
  background: #fff5f5;
  min-height: 8vh;
  border: none;
  margin-top: 2vh;
}
