{% extends 'default.html' %}
{% block title %} about.html {% endblock title %}
{% block innercontent %}
<div class="spacer2"></div>
<h2 class="page-title">about holden (aka me)</h2>
<p>
Hi, I'm Holden. I really like to play video games, I think they are fun and fascinating pieces of art. Primarily I like to play games with a good story and some kind of innovative game mechanic. Genre mixing, trope subversion, and heavy-handed symbolism are all hallmarks of a game you'll probably find on this blog, lol. If it's got a good heart, I want to play it. That said, I do like to play mainstream games too! Mostly I just avoid horror and that's about it. One day I noticed I play a lot of video games, and I thought I'd start a review blog. I have a long backlog of game titles that I've already played and need to write reviews on, and a shorter backlog of games I haven't played yet. You can find those titles in the <a href="{% url 'backlog' %}">backlog</a>. 
</p>

{% endblock %}