{% extends 'default.html' %}
{% load static %}
{% block title %} backlog.html {% endblock title %}
{% block page_title %} backlog {% endblock page_title %}

{% block innercontent %}
<div class="card bottom-wrapper">
	<p>
		REVIEW BACKLOG --COMING SOON--
		<table>
			{% for game in game_review_list %}
			{% endfor %}
			game review backlog
		</table>
		<br>
		<br>
		<br>
		<br>
		<br>
		GAME BACKLOG --COMING SOON--
		<table>
			{% for game in game_play_list %}
			{% endfor %}
			game play backlog
			}
		</table>

		<br>
		<br>
		BUG BACKLOG --COMING SOON--
		<table>
			{% for bug in bug_list %}
			{% endfor %}
			site bug backlog
			}
		</table>
	</p>
</div>
{% endblock %}