{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock title %}</title>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'responsive.css' %}">
    <link rel="stylesheet" href="{% static 'blog.css' %}">
    <link rel="stylesheet" href="{% static 'sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'comments.css' %}">
    <link rel="stylesheet" href="{% static 'wrapper.css' %}?{% now ' u'='' %}">
    <link rel="stylesheet" href="{% static 'common.css' %}">


</head>

<body class="body">
    <div class="wrapper">
        {% block header %} {% include 'header.html' %} {% endblock header %}
        <section class="single-blog-area">
            <div class="col-lg-1"> </div>
            <div class="col-lg-10">
                <div class="container-fluid">
                    <div class="border-top">
                        <div class="row">
                           <div class="col-md-12">
                            {% block content %} 
                            {% endblock content %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% block footer %} {% include 'footer.html' %} {% endblock footer %}
    </div>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.js' %}"></script>
    <script src="{% static 'js/active.js' %}"></script>
</body>

</html>