{% load static %}

{% static 'static-readme.txt' as readme %}

{% block footer %}

<footer class="footer">
    <div class="container-fluid">
        <div class="footer-bg row ">
            <div class="col-sm offset-sm-1">
                <div class="d-flex justify-content-sm-start card-group footer-menu">
                    <ul class="row">
                        <li class="col-xs-1"><a class="card" href="{% url 'home' %}">Home</a></li>
                        <li class="col-xs-1"><a class="card" href="{% url 'about' %}">About</a></li>
                        <li class="col-xs-1"><a class="card" href="{% url 'format' %}">Format</a></li>
                        <li class="col-xs-1"><a class="card" href="{% url 'backlog' %}">Backlog</a></li>
                        <li class="col-xs-1"><a class="card" href="{% url 'posts' %}">Posts</a></li>
                        <li class="col-xs-1"><a class="card" href="{% url 'contact' %}">FAQ + Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="justify-content-xs-center col-xs-3">
                <div class="footer-icon">
                    <p><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock footer %}