{% load static %}

{% static 'static-readme.txt' as readme %}

{% block footer %}

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="spacer"></div>
                <div class="footer-bg">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="footer-menu">
                                <ul>
                                    <li class="active"><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="{% url 'about' %}">About</a></li>
                                    <li><a href="{% url 'format' %}">Format</a></li>
                                    <li><a href="{% url 'backlog' %}">Backlog</a></li>
                                    <li><a href="{% url 'posts' %}">Posts</a></li>
                                    <li><a href="{% url 'contact' %}">FAQ + Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-icon">
                                <p><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></p>
                            </div>
                        </div>

                    </div>
                </div>
                <p>THEME CREDIT <a href="{{ readme }}">HERE</a></p>
            </div>
        </div>
    </div>
</footer>
{% endblock footer %}