{% extends 'default.html' %}
{% block title %} format.html {% endblock title %}
{% block page_title %} format {% endblock page_title %}

{% block innercontent %}
<div class="card bottom-wrapper">
<h3> Review Structure </h3>
<p>The review consists of three parts. First is the Overall Review. Second is the Art Review. Third is the Game Review. These ingredients were chosen to create the perfect little girls. But Professor Utonium accidentally added a third ingredient to the concoction: chemical x.</p>
<h3> Overall</h3>
<p>what are my overall impressions of the game? did I like it? what were my predictions? were they right? would I recommend it?</p>
<h3>Art</h3>
<p>This part is split into 4 categories to the best of my ability:</p>
<p><strong>graphics:</strong> what does it look like? what is the visual style/tone/aesthetic? do the visuals serve the overall themes?</p>
<p><strong>sound:</strong> does the audio add to the immersion? are there any recurring musical motifs? genre of music/tone? sound effects? voice acting?</p>
<p><strong>story</strong> what is the story? who are the characters? what genre of story is it? what are the main plot points? do they feel natural to the game? is there a lot of exposition or is the exposition incorporated into the game?</p>
<p><strong>themes</strong> what is the message of the game? what is the game trying to convey? is it successful? what are the major themes? what tropes are used? are they used effectively?</p>
<h3>Game</h3>
<p>This part is split into 3 categories to the best of my ability:</p>
<p><strong>mechanics</strong> how does the game work? is it fun to play? is it interesting to play? how do you progress/win? </p>
<p><strong>difficulty</strong> what is the pacing of the game? what is the difficulty curve? is it too hard, too easy? is the tutorial sufficient? does the difficulty match the context of the game?</p>
<p><strong>experience</strong> smooth playing experience? any glitches or bugs that detracted from the game? inconveneint areas? here is the place that the criticism usually goes</p>

<h3><a>RUBRIC</a> if you're curious</h3>
</div>
{% endblock %}