{% extends 'default.html' %}
{% block title %} format.html {% endblock title %}
{% block page_title %} format {% endblock page_title %}

{% block innercontent %}
<div class="card bottom-wrapper">
<h3> 0. summary/overview </h3>
<p>self-explanatory</p>
<h3> 1. graphics </h3>
<p>what does it look like? what is the visual style/tone/aesthetic? do the visuals serve the overall themes?</p>
<h3> 2. gameplay </h3>
<p>how does the game work? is it fun to play? is it interesting to play? how do you progress/win? </p>
<h3> 3. music/sound </h3>
<p>does the audio add to the immersion? are there any recurring musical motifs? genre of music/tone? sound effects? voice acting? </p>
<h3>4. difficulty</h3>
<p>what is the pacing of the game? what is the difficulty curve? is it too hard, too easy? is the tutorial sufficient? does the difficulty match the context of the game?</p>
<h3>5. story</h3>
<p>what is the story? who are the characters? what genre of story is it? what are the main plot points? do they feel natural to the game? is there a lot of exposition or is the exposition incorporated into the game?</p>
<h3>6. themes/tropes</h3>
<p>what is the message of the game? what is the game trying to convey? is it successful? what are the major themes? what tropes are used? are they used effectively?</p>
<h3>7. experience/bugs</h3>
<p>smooth playing experience? any glitches or bugs that detracted from the game? inconveneint areas? here is the place that the criticism usually goes</p>
<h3>8. overall rating</h3>
<p>score from 1-100, with 100 being perfect and 1 being terrible or maybe even the absence of a game. 1 = no game. 100 = perfect game. This number is totally arbitrary and personal to me. If you disagree, I'm happy to hear why. I'm not happy to hear that you think I'm an idiot who knows nothing so find a different venue for that lol</p>

</div>
{% endblock %}