{% block header %}
<header class="header sticky-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <div class="spacer"></div>
                <div class="row">
                    <div class="col-xs-1">
                        <div class="d-flex justify-content-start">
                            <div class="card logo">
                                <h2><a href="{% url 'home' %}"><p>holdon \n </p><p>Game Time</p></a></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="justify-content-sm-end card-group menu">
                            <div class="row">
                                <ul class="col-xs">
                                    <li class="card"><a href="{% url 'home' %}">Home</a></li>
                                    <li class="card"><a href="{% url 'about' %}">About</a></li>
                                    <li class="card"><a href="{% url 'format' %}">Format</a></li>
                                    <li class="card"><a href="{% url 'backlog' %}">Backlog</a></li>
                                    <li class="card"><a href="{% url 'posts' %}">Posts</a></li>
                                    <li class="card"><a href="{% url 'contact' %}">FAQ + Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}