{% extends 'base.html' %}
{% load static %}
{% block title %} index.html {% endblock title %}
{% block content %}

<div class="blog-area">
    <div class="col-md-8">
        <div class="spacer2"></div>
        <h2 class="page-title">
            home
        </h2>
        <div class="post-body">
            Here is where the body goes
        </div>
    </div>
    <div class="col-md-1"></div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
</div>

{% endblock %}