{% load static %}

{% block sidebar %}

    <div class="col-md-3 sidebar">
        <div class="spacer2"></div>
        <h2 class="sidebar-title">Recent</h2>
        <div class="grid" style="position: relative; height:16vh;">
            {% for post in post_list|slice:":2" %}
                <div class="portfolio-item portfolio-text" style="position: absolute; left: 0px; top: 0px;">
                    <h5>
                        <a href="{% url 'post_detail' post.slug  %}">{{ post.title }}</a>
                    </h5>
                    <p>{{ post.author }} | {{ post.created_on }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="sidebar-ads">
            <img src="{% static 'img/sidebar-ads.jpg' %}" alt="">
            <p>Place For Your <br> Ad Banner</p>
        </div>
        {% if need_tags == True %}
        <div class="tags">
            <h2 class="sidebar-title">Tags</h2>
            <p><a href="#">Adventure</a></p>
            <p><a href="#">Animals</a></p>
        </div>
        {% endif %}
        <div class="newsletter">
            <h2 class="sidebar-title">Subscribe To oUR nEWSLETTER</h2>
            <form action="#" method="post">
                <input type="email" name="" id="" placeholder="Email">
                <input type="submit" value="Subscribe">
            </form>
        </div>
    </div>

{% endblock sidebar %}