{{template "base.html" .}}
<div class="card bottom-wrapper">
    <script>
        var statuses = [];
        var ids = [];
    </script>
    <style>
        .obj-wrapper {
            border: medium solid black;
        }
        .status {
            width: fit-content;
        }
        .details {
            width: fit-content;
        }
        input {
            height:50%;
        }
        label {
            margin: 0;
        }
        span {
            margin: 2px;
        }
    </style>
    <div class="container-xxl">
        <form id="games" action="/json/game/save" method="post">
        <input id="save" type="submit" value="Save games">
        {{ range  .Games }}
            <div id="item" class="row obj-wrapper">
                <span> <p>Title: </p>{{ .Title }} </span>
                <span> <p>  Id: </p>{{ .Id }} </span>
                <input type="text" class="col-md details" name="details_{{.Id}}" value={{ marshal .Details }}>
                <div class="col-md status">
                    <script>
                        statuses.push('{{ .Status.Name }}')
                        ids.push('status_{{.Id}}')
                    </script>
                    <div class="row">
                        <div class="col-xs">
                            <label for="status_{{.Id}}_u">Unknown</label>
                            <input id="status_{{.Id}}_u" type="radio" name="status_{{.Id}}" value="unknownStatus">
                        </div>
                        <div class="col-xs">
                            <label for="status_{{.Id}}_w">Wishlist</label>
                            <input id="status_{{.Id}}_w" type="radio" name="status_{{.Id}}" value="wishlistStatus">
                        </div>
                        <div class="col-xs">
                        <label for="status_{{.Id}}_i">Installed</label>
                        <input id="status_{{.Id}}_i" type="radio" name="status_{{.Id}}" value="installedStatus">
                        </div>
                        <div class="col-xs">
                        <label for="status_{{.Id}}_ps">PlayedSome</label>
                        <input id="status_{{.Id}}_ps" type="radio" name="status_{{.Id}}" value="playedSomeStatus">
                        </div>
                        <div class="col-xs">
                            <label for="status_{{.Id}}_pm">PlayedMost</label>
                            <input id="status_{{.Id}}_pm" type="radio" name="status_{{.Id}}" value="playedMostStatus">
                        </div>
                        <div class="col-xs">
                        <label for="status_{{.Id}}_c">Completed</label>
                        <input id="status_{{.Id}}_c" type="radio" name="status_{{.Id}}" value="completedStatus">
                        </div>
                        <div class="col-xs">
                        <label for="status_{{.Id}}_r">Reviewed</label>
                        <input id="status_{{.Id}}_r" type="radio" name="status_{{.Id}}" value="reviewedStatus">
                        </div>
                        <div class="col-xs">
                            <label for="status_{{.Id}}_wr">WontReview</label>
                            <input id="status_{{.Id}}_wr" type="radio" name="status_{{.Id}}" value="wontReviewStatus">
                        </div>
                    </div> 
                </div>

            </div>
        {{ end }}
        </form>

    </div>

</div>

{{template "footer.html" .}}
<script>
    var items = document.getElementsByClassName("status")
    console.log(items.length)
    for (var j = 0; j < items.length; j++) {
        for (var i = 0; i < 8; i++) {
            var radios = document.getElementsByName(ids[j])
            if (radios[i].value === statuses[j]) {
                console.log("match")
                radios[i].checked = true
                break
            }
        }
    }
</script>